.commitment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  border-radius: 10px;
  padding: 2rem;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.15s;
  background-color: rgb(245, 245, 245);
  z-index: 0;
}

.commitment:hover {
  transform: scale(1.01);
  transform: translateY(-5px);
}

.commitment-title {
  align-self: flex-start;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.commitment-statement {
  font-weight: 500;
  font-size: 1rem;
  align-self: flex-start;
}

.daily-completion {
  border: 1px solid var(--coral-300);
  padding: 1rem;
  border-radius: 5px;
  cursor: pointer;
}

.daily-completion:hover {
  background-color: var(--coral-100);
}

.progress-container {
  width: 10rem;
  height: 10rem;
}

.pledges-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  text-align: left;
}
