.commitment {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 17rem;
  border-radius: 10px;
  padding: 2rem;
  align-items: center;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transition: 0.15s;
  background-color: rgb(245, 245, 245);
  z-index: 0;
}

.commitment.complete {
  background-color: var(--coral-500);
  color: white;
  box-shadow: rgba(192, 38, 44, 1) 0px 5px 15px;
}

.commitment:hover {
  transform: scale(1.01);
  transform: translateY(-5px);
}

.commitment-title {
  align-self: flex-start;
  font-size: 1.3rem;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.commitment-statement,
.commitment-pledge {
  font-size: 1rem;
  align-self: flex-start;
}

.daily-completion {
  border: 3px solid var(--coral-300);
  padding: 3rem;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    0deg,
    #fb876b 0%,
    #fb876b calc(var(--percentageComplete) * 100%),
    transparent calc(var(--percentageComplete) * 100%),
    transparent 100%
  );

  transition: background 0.5s ease;
}

.daily-completion:hover {
  background-color: var(--coral-100);
}

.progress-container {
  width: 10rem;
  height: 10rem;
}

.pledges-container {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-self: flex-start;
}
