.dashboard-container {
  margin-top: 3rem;
  min-height: 25rem;
  display: grid;
  gap: 3rem;
  position: relative;
  padding: 1rem 4rem;
}

.dashboard-container.active {
  grid-template-columns: repeat(4, 1fr);
}

.dashboard-welcome {
  text-align: left;
  font-weight: 400;
  margin-bottom: 2rem;
  letter-spacing: 1px;
  font-size: 1.4rem;
}

.empty-dashboard {
  align-self: center;
  justify-self: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.empty-dashboard h3 {
  color: rgb(91, 91, 91);
  font-weight: 400;
}

.add-icon {
  position: absolute;
  display: flex;
  align-items: center;
  top: -6rem;
  right: 0;
  padding: 1rem;
  background-color: var(--coral-500);
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  transition: 0.15s;
}

.add-icon:hover {
  opacity: 0.8;
  transform: scale(1.01);
  transform: translateY(-1px);
}

.commitment-menu {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.commitment-menu div {
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
  overflow: hidden;
}

.commitment-menu div:hover::after {
  transform: translateX(0);
}

.current-commitments::after,
.completed-commitments::after {
  content: "";
  margin-top: 4px;
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--coral-500);
  transform: translateX(-101%);
  transition: 0.15s;
}

.commitment-menu div.active::after {
  transform: translateX(0);
}
