.header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 3rem;
  align-items: center;
  background-color: var(--coral-500);
  border-radius: 0px 0px 5px 5px;
  margin-bottom: 2rem;
}

.header__list {
  display: flex;
  gap: 1rem;
  text-transform: uppercase;
  list-style: none;
}

.logo {
  text-decoration: none;
  font-size: 2rem;
  font-weight: 700;
  color: #ffffff;
}

.header__item {
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  transition: 0.15s;
}

.header__item:hover {
  opacity: 0.8;
}

.btn-logout {
  background-color: transparent;
  box-shadow: none;
  border: none;
}
