.modal-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  z-index: 1000;
  background-color: #ffffff;
  padding: 2.5rem;
  gap: 1rem;
  box-shadow: 1000px 1000px 1000px solid black;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 30rem;
  font-size: 0.8rem;
  border-radius: 5px;
  max-width: 30rem;
}

.modal-container h4 {
  font-weight: 500;
}

.modal-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--coral-300);
  opacity: 0.5;
  z-index: 2;
}

.addCommitment-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.modal-title {
  font-size: 1.1rem;
  font-weight: 500;
}

.modal-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.modal-group input,
.modal-group textarea {
  width: 100%;
  font-size: 0.8rem;
}

.modal-group textarea {
  resize: none;
  height: 5rem;
  font-family: "Poppins", sans-serif;
}

.commitment-type-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.commitment-type {
  padding: 0.5rem 1rem;
  border-radius: 12px;
  cursor: pointer;
  transition: 0.15s;
  border: 1px solid var(--coral-300);
  user-select: none;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 1px;
}

.commitment-type.active {
  background-color: var(--coral-300);
  color: white;
}

.commitment-type:hover {
  opacity: 0.8;
  background-color: var(--coral-300);
  color: white;
}

.title-delete-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.delete-icon {
  padding: 0.5rem;
  cursor: pointer;
}

.ellipsis-container {
  cursor: pointer;
  height: 2rem;
  width: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ellipsis-image {
  height: 1.5rem;
}

.view-commitment-description {
  line-height: 1.8;
}

.dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  right: 0;
  top: 2rem;
  background-color: #ffffff;
  border-radius: 5px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 2px;
}

.dropdown-container span {
  padding: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
}

.dropdown-delete {
  color: red;
}

.delete-options {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.delete-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

.delete-container {
  padding: 3rem;
}

.btn-delete {
  background-color: red;
}

.btn-cancel {
  background-color: gray;
}

.days-container {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.day.active {
  background-color: var(--coral-300);
  color: white;
}

.day-of-week-container {
  display: flex;
  justify-content: space-evenly;
}

.timeframe {
  text-transform: capitalize;
}

.description-container {
  border: 1px solid var(--coral-300);
  padding: 1rem;
  border-radius: 5px;
}

.pledge-container {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.view-pledge-amount {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: var(--coral-300);
  font-weight: 600;
  padding: 2rem;
  border-radius: 5px;
  background: linear-gradient(0.45turn, var(--coral-50), var(--coral-100));
}

.frequency-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.frequency-input {
  max-width: 5rem;
}
.frequency-label {
  flex: 1;
}
